# Ignore my bot token - otherwise would be a pain to deal with
bot-token.txt

# Ignore my original bot file, xusing it to compare and contrast to create a report on this project.
CCP_Bot_Original.py

# Ignore log file
ccp-log-file.txt